.btn-group-vertical > .btn .icon.ion-android-radio-button-off {
  display:inline;
  font-size:13.5px;
}

.btn-group-vertical > .btn .icon.ion-android-radio-button-on {
  display:none;
  font-size:13.5px;
}

.btn-group-vertical > .btn:focus .icon.ion-android-radio-button-off, .btn-group-vertical > .btn:active .icon.ion-android-radio-button-off, .btn-group-vertical > .btn:active:focus .icon.ion-android-radio-button-off, .btn-group-vertical > .btn.focus .icon.ion-android-radio-button-off, .btn-group-vertical > .btn.active .icon.ion-android-radio-button-off, .btn-group-vertical > .btn.active:focus .icon.ion-android-radio-button-off {
  display:none;
  font-size:13.5px;
}

.btn-group-vertical > .btn:focus .icon.ion-android-radio-button-on, .btn-group-vertical > .btn:active .icon.ion-android-radio-button-on, .btn-group-vertical > .btn:active:focus .icon.ion-android-radio-button-on, .btn-group-vertical > .btn.focus .icon.ion-android-radio-button-on, .btn-group-vertical > .btn.active .icon.ion-android-radio-button-on, .btn-group-vertical > .btn.active:focus .icon.ion-android-radio-button-on {
  display:inline;
  font-size:13.5px;
}

